
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Moje zwierzęta", "Index", "Animals")</li>
    <li>@Html.ActionLink("Mój profil", "MyDetails", "Profiles")</li>
    <li>@Html.ActionLink("Moje wizyty", "MyVisits", "Visits")</li>
</ul>
    }
}
else
{
}
