@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wet Klin</h1>
    <p class="lead">
        Witamy na naszej stronie. Apliakcja wspomagająca zarządzanie gabinetem weterynaryjnym. Oferuje założenie konta, dodania zwierzaka doa bazy,
        umówienie go na wizyte czy też wyśiwetlenie karty zdrowia po wizycie
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gebinet</h2>
        <p>
            Witamy w naszym gabinecie wszystko jest łatwo dostępne bez zbędnych okienek.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Godziny otwarcia</h2>
        <p>
            Gabinet jest otwarty od Poniedziałku do soboty.
            <br />
            Poniedziałek - Piątek od godziny 8 - 16
            <br />
            W Soboty 8 - 16
            <br \>
            niedziela nieczynne
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>Usługi</h2>
        <p>
            Prowadzimy podstawowe usługu takie jak:<br />
            odrobaczanie<br />
            podstawowe szczepiewnia<br />
            i inne.
        </p>
 
    </div>
</div>